 //SASS Variables
 $head1color: purple;
 $wrapperbg: lightgray;
 $wrapperbglighter: lighten($wrapperbg, 10%);
 $navbgcolor: pink;
 $navbgcolordarker: darken($navbgcolor, 20%);
 $fontfamily: sans-serif;
 $specialwidth: 750px;

 //Mixin
 @mixin div($w, $ta){
	 width: $w;
	text-align: $ta;
 }

#wrapper {width: 100%; background-color: $wrapperbglighter;}

h1 {text-align: center; color: $head1color;}
	
h2 {text-align: center; font-family: $fontfamily;}
	
li {display: inline; margin-left: 0; padding-left: 0; margin: 6px; text-align: center;}
	
nav {
	width: $specialwidth;
	margin: 0 auto;
	text-align: center;
	ul {list-style-type: none; margin: 0; padding: 0; overflow: hidden; text-align: center; background-color: $navbgcolordarker; }
	li {float: left; font-size: 14px; text-align: center;
		a {display: block; color: white; text-align: center; padding: 10px; text-decoration: none;}
	}
}	

div{
	@include div(100%, center);
}
img{		
	width: 300px;
	padding: 10px;
	transition: all ease;
}
.img2{
	border: 1px dashed;
	@extend img;
}

footer {width: $specialwidth; margin: 0 auto; padding: 10px 0; background-color: #888888; text-align: center; color: white; clear: both; font-family: $fontfamily;}